/build
/.cache
/bin
/dist
*.swp
.idea
*.DS_Store
/fleet
/.vscode
docs/fleet-agent/
docs/fleet-cli/
docs/fleet-controller/
e2e/testenv/infra/infra
*.tgz
^fleet$
FleetCI-RootCA
.envrc
env.multi-cluster
env.single-cluster
