go 1.24.0

use (
	.
	./integrationtests
	./pkg/apis
)

replace (
	github.com/imdario/mergo => dario.cat/mergo v1.0.2
	gopkg.in/go-playground/webhooks.v6 => github.com/go-playground/webhooks/v6 v6.4.0
)
