image:
  repository: rancher/fleet
  tag: dev
  imagePullPolicy: IfNotPresent

agentImage:
  repository: rancher/fleet-agent
  tag: dev
  imagePullPolicy: IfNotPresent

# For cluster registration the public URL of the Kubernetes API server must be set here
# Example: https://example.com:6443
apiServerURL: ""

# For cluster registration the pem encoded value of the CA of the Kubernetes API server must be set here
# If left empty it is assumed this Kubernetes API TLS is signed by a well known CA.
apiServerCA: ""

# A duration string for how often agents should report a heartbeat
agentCheckinInterval: "15m"

# Whether you want to allow cluster upon registration to specify their labels.
ignoreClusterRegistrationLabels: false

bootstrap:
  # The namespace that will be autocreated and the local cluster will be registered in
  namespace: fleet-local
  # A repo to add at install time that will deploy to the local cluster. This allows
  # one to fully bootstrap fleet, it's configuration and all it's downstream clusters
  # in one shot.
  repo: ""
  secret: ""
  branch: master
  paths: ""

global:
  cattle:
    systemDefaultRegistry: ""