image:
  repository: rancher/fleet
  tag: dev
  imagePullPolicy: IfNotPresent

agentImage:
  repository: rancher/fleet-agent
  tag: dev
  imagePullPolicy: IfNotPresent

# For cluster registration the public URL of the Kubernetes API server must be set here
# Example: https://example.com:6443
apiServerURL: ""

# For cluster registration the pem encoded value of the CA of the Kubernetes API server must be set here
# If left empty it is assumed this Kubernetes API TLS is signed by a well known CA.
apiServerCA: ""

# A duration string for how often agents should report a heartbeat
agentCheckinInterval: "15m"

# Whether you want to allow cluster upon registration to specify their labels.
ignoreClusterRegistrationLabels: false

# http[s] proxy server
# proxy: http://<username>@<password>:<url>:<port>

# comma separated list of domains or ip addresses that will not use the proxy
noProxy: 127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,.svc,.cluster.local

bootstrap:
  # The namespace that will be autocreated and the local cluster will be registered in
  namespace: fleet-local
  # The namespace where the fleet agent for the local cluster will be ran, if empty
  # this will default to fleet-system
  agentNamespace: ""
  # A repo to add at install time that will deploy to the local cluster. This allows
  # one to fully bootstrap fleet, it's configuration and all it's downstream clusters
  # in one shot.
  repo: ""
  secret: ""
  branch: master
  paths: ""

global:
  cattle:
    systemDefaultRegistry: ""

nodeSelector:
  kubernetes.io/os: linux

tolerations:
  - key: cattle.io/os
    operator: "Equal"
    value: "linux"
    effect: NoSchedule

gitops:
  enabled: true

debug: false
debugLevel: 0
