{{- if .Values.gitops.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitjob
spec:
  selector:
    matchLabels:
      app: "gitjob"
  template:
    metadata:
      labels:
        app: "gitjob"
    spec:
      serviceAccountName: gitjob
      containers:
        - image: "{{ template "system_default_registry" . }}{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          name: gitjob
          args:
          - fleetcontroller
          - gitjob
          - --gitjob-image
          - "{{ template "system_default_registry" . }}{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- if .Values.debug }}
          - --debug
          {{- end }}
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          {{- if .Values.proxy }}
            - name: HTTP_PROXY
              value: {{ .Values.proxy }}
            - name: HTTPS_PROXY
              value: {{ .Values.proxy }}
            - name: NO_PROXY
              value: {{ .Values.noProxy }}
          {{- end }}
          {{- if .Values.debug }}
            - name: CATTLE_DEV_MODE
              value: "true"
          {{- else }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            privileged: false
            capabilities:
                drop:
                - ALL
          {{- end }}
{{- if $.Values.extraEnv }}
{{ toYaml $.Values.extraEnv | indent 12}}
{{- end }}
      nodeSelector: {{ include "linux-node-selector" . | nindent 8 }}
{{- if .Values.nodeSelector }}
{{ toYaml .Values.nodeSelector | indent 8 }}
{{- end }}
      tolerations: {{ include "linux-node-tolerations" . | nindent 8 }}
{{- if .Values.tolerations }}
{{ toYaml .Values.tolerations | indent 8 }}
{{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: "{{.Values.priorityClassName}}"
      {{- end }}
{{- end }}

{{- if not .Values.debug }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
{{- end }}
