{{- if .Values.gitops.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: gitjob
spec:
  ports:
    - name: http-80
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: "gitjob"
{{- end }}
