apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitjob
spec:
  selector:
    matchLabels:
      app: "gitjob"
  template:
    metadata:
      labels:
        app: "gitjob"
    spec:
      serviceAccountName: gitjob
      containers:
        - image: "{{ template "system_default_registry" . }}{{ .Values.gitjob.repository }}:{{ .Values.gitjob.tag | default (printf "v%s" .Chart.AppVersion) }}"
          name: gitjob
          args:
          {{- if .Values.debug }}
          - --debug
          {{- end }}
          - --tekton-image
          - "{{ template "system_default_registry" . }}{{ .Values.tekton.repository }}:{{ .Values.tekton.tag | default "v0.1.21" }}"
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          {{- if .Values.proxy }}
            - name: HTTP_PROXY
              value: {{ .Values.proxy }}
            - name: HTTPS_PROXY
              value: {{ .Values.proxy }}
            - name: NO_PROXY
              value: {{ .Values.noProxy }}
          {{- end }}
          {{- if .Values.debug }}
            - name: CATTLE_DEV_MODE
              value: "true"
          {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: "{{.Values.priorityClassName}}"
      {{- end }}
