apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitjob
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gitjob
rules:
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - "leases"
    verbs:
      - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gitjob
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: gitjob
subjects:
  - kind: ServiceAccount
    name: gitjob