name: golangci-lint

on:
  schedule:
    - cron:  '0 5 * * *'
  pull_request:

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: false

      - name: Generate Golang
        run: |
          export PATH=$PATH:/home/runner/go/bin/

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.58

          args: --timeout=10m --config=.golangci.json

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # The condition sets this to true for PR events.
          only-new-issues: "${{ github.event_name == 'pull_request'}}"

          skip-cache: true
