name: Release Fleet against rancher/rancher
on:
  workflow_dispatch:
    inputs:
      rancher_ref:
        description: "Submit PR against the following rancher/rancher branch (e.g. release/v2.13 or main if there is no according release branch yet)"
        required: true
        default: "main"
      new_fleet:
        description: "New Fleet version (e.g. 0.14.0-rc.1)"
        required: true
        default: ""
      new_chart:
        description: "New Rancher Chart version (e.g. 108.0.0)"
        required: true
        default: ""
      should_bump_api:
        description: "Should the Fleet api be bumped in the Rancher repo? (If the API in github.com/rancher/fleet/pkg/apis has changed or the release is for a final release, then the API needs to be bumped (set to true ), otherwise use false .)"
        required: true
        default: "false"
      go_version:
        description: "Go version used for bumping the api. This should be the same version as in the go.mod file of the project."
        required: true
        default: '1.25.*'

env:
  GOARCH: amd64
  CGO_ENABLED: 0
  SETUP_GO_VERSION: ${{github.event.inputs.go_version}}

jobs:
  create-rancher-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          path: fleet
          persist-credentials: false
      - name: Checkout rancher/rancher
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          repository: rancher/rancher
          ref: ${{github.event.inputs.rancher_ref}}
          path: rancher
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.SETUP_GO_VERSION }}
      - name: Install controller-gen
        run: go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.17.2
      - name: Run release script
        run: |
          export CHARTS_DIR="${GITHUB_WORKSPACE}/rancher"
          ./fleet/.github/scripts/release-against-rancher.sh ${{github.event.inputs.new_fleet}} ${{github.event.inputs.new_chart}} ${{github.event.inputs.should_bump_api}}
      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_FORKS_SUBMIT_PRS }}
        working-directory: ./rancher/
        run: |
          ../fleet/.github/scripts/create-pr.sh ${{github.event.inputs.rancher_ref}} ${{github.event.inputs.new_fleet}} ${{github.event.inputs.new_chart}} rancher
