name: Release Fleet against rancher/charts
on:
  workflow_dispatch:
    inputs:
      charts_ref:
        description: "Submit PR against the following rancher/charts branch (e.g. dev-v2.7)"
        required: true
        default: "dev-v2.14"
      prev_fleet:
        description: "Previous Fleet version (e.g. 0.6.0-rc.3)"
        required: true
        default: ""
      new_fleet:
        description: "New Fleet version"
        required: true
        default: ""
      prev_chart:
        description: "Previous Rancher Chart version (e.g. 101.1.0)"
        required: true
        default: ""
      new_chart:
        description: "New Rancher Chart version"
        required: true
        default: ""
      should_replace:
        description: "Should the old Fleet version be replaced/removed? (e.g. true in case of release candidate bumps)"
        required: false
        default: "true"

jobs:
  create-rancher-charts-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          path: fleet
      - name: Checkout rancher/charts
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          repository: rancher/charts
          ref: ${{github.event.inputs.charts_ref}}
          path: charts
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.26.*'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt install -y --allow-change-held-packages snapd
          sudo snap install yq --channel=v4/stable
      - name: Read App Secrets
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/github/pr-actions-write-app/credentials appId | APP_ID ;
            secret/data/github/repo/${{ github.repository }}/github/pr-actions-write-app/credentials privateKey | PRIVATE_KEY
      - name: Create App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ env.APP_ID }}
          private-key: ${{ env.PRIVATE_KEY }}
      - name: Run release script
        run: |
          export CHARTS_DIR="${GITHUB_WORKSPACE}/charts"
          ./fleet/.github/scripts/release-against-charts.sh ${{github.event.inputs.prev_fleet}} ${{github.event.inputs.new_fleet}} ${{github.event.inputs.prev_chart}} ${{github.event.inputs.new_chart}} ${{github.event.inputs.should_replace}}
      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        working-directory: ./charts/
        run: |
          ../fleet/.github/scripts/create-pr.sh ${{github.event.inputs.charts_ref}} ${{github.event.inputs.new_fleet}} ${{github.event.inputs.new_chart}} charts
