name: Release Fleet against rancher/rancher
on:
  workflow_dispatch:
    inputs:
      ref:
        description: "Branch to use for GitHub action workflow"
        required: true
        default: "master"
      rancher_ref:
        description: "Submit PR against the following rancher/rancher branch (e.g. release/v2.7)"
        required: true
        default: "release/v2.7"
      prev_fleet:
        description: "Previous Fleet version (e.g. 0.6.0-rc.3)"
        required: true
        default: ""
      new_fleet:
        description: "New Fleet version"
        required: true
        default: ""
      prev_chart:
        description: "Previous Rancher Chart version (e.g. 101.1.0)"
        required: true
        default: ""
      new_chart:
        description: "New Rancher Chart version"
        required: true
        default: ""
      should_bump_api:
        description: "Should the Fleet api be bumped in the Rancher repo? (In most cases true unless there are incompatibilities.)"
        required: true
        default: "true"

env:
  GOARCH: amd64
  CGO_ENABLED: 0

jobs:
  create-rancher-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{github.event.inputs.ref}}
          path: fleet
      - name: Checkout rancher/rancher
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: rancher/rancher
          ref: ${{github.event.inputs.rancher_ref}}
          path: rancher
      - uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: Run release script
        run: ./fleet/.github/scripts/release-against-rancher.sh ${{github.event.inputs.prev_fleet}} ${{github.event.inputs.new_fleet}} ${{github.event.inputs.prev_chart}}  ${{github.event.inputs.new_chart}}  ${{github.event.inputs.should_bump_api}}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{secrets.PUSH_TO_FORKS_SUBMIT_PRS}}
          push-to-fork: rancherbot/rancher
          title: ' Update Fleet to v${{github.event.inputs.new_fleet}}'
          body: |
            Update Fleet to v${{github.event.inputs.new_fleet}}

            Changelog: https://github.com/rancher/fleet/releases/tag/v${{github.event.inputs.new_fleet}}
          branch-suffix: timestamp
          base: ${{github.event.inputs.rancher_ref}}
          path: ./rancher/
