name: Test Typos
on: [pull_request]

jobs:
  run:
    name: Spell Check with Typos
    runs-on: runs-on,runner=4cpu-linux-x64,run-id=${{ github.run_id }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Check spelling of file.txt
      uses: crate-ci/typos@v1.27.3

