name: Test Typos
on: [pull_request]

jobs:
  run:
    name: Spell Check with Typos
    runs-on: runs-on,runner=4cpu-linux-x64,run-id=${{ github.run_id }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

    - name: Check spelling of file.txt
      uses: crate-ci/typos@b74202f74b4346efdbce7801d187ec57b266bac8 # v1.27.3

